<div class="table-responsive">
  <table class="table table-dark">
    <thead>
      <tr>
        <th class="col">Nombre del producto</th>
        <th class="col">Precio </th>
        <th class="col">imagen </th>
      </tr>
    </thead>
    <tbody id="tbody">
        {{#each productsFake}}
        <tr>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td><img src={{img}}></td>
        </tr>
        {{/each}}
    </tbody>
  </table>
</div>