    <h1>Ingrese el nuevo producto</h1>
    <form method="post" action="http://localhost:8080/products">

        <div class="form-group container">
            <label for="ProductName"><b>Nombre del producto</b></label>
            <input type="text" class="form-control container" name="ProductName" id="ProductName" placeholder="ej:Queso">
        </div>
        <div class="form-group container">
            <label for="productPrice"><b>Precio del producto</b></label>
            <input type="number" class="form-control container" name="productPrice" id="productPrice" placeholder="ej:$1234">
        </div>
        <div class="form-group container">
            <label for="productImg"><b>Foto del producto</b></label>
            <input type="url" class="form-control container" name="productImg" id="productImg" placeholder="Url de la imagen">
        </div>
        <div class="text-center">
            <button class="btn btn-succes mt-3 mb-5 btn-secondary">Enviar</button>
        </div>
        {{> historials}}
    </form> 