extend index 

block historial 
    h2(class="text-danger") Historial 
    
    if products.length > 0
        div(class="table-responsive")
            table(class="table table-dark")
                thead 
                    tr(class="tr-warning")
                        th(class="col") #
                        th(class="col") Nombre del producto
                        th(class="col") Precio 
                        th(class="col") imagen 
                tbody 
                    each val,key in products
                        tr
                            th(scope="row")= key + 1
                            td= val.productName
                            td= '$' + val.productPrice 
                            td
                                img(src= val.productImg)
                                
    else 
        h3 No se encontraron productos